<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cong.wanwu.api.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.cong.wanwu.api.common.model.entity.UserInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
            <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
            <result property="leftNum" column="leftNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceInfoId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>
    <select id="listTopInvokeInterfaceInfo" resultType="com.cong.wanwu.api.model.vo.InterfaceInfoVO">
        select interfaceInfoId, sum(totalNum) as totalNum,interface_info.*
        from user_interface_info,interface_info where interface_info.id = user_interface_info.interfaceInfoId
        group by interfaceInfoId
        order by interfaceInfoId desc
            limit #{limit}
    </select>
</mapper>
