#spring:
#  # 支持 swagger3
#  mvc:
#    pathmatch:
#      matching-strategy: ant_path_matcher
#  # 数据库配置
#  # todo 需替换配置
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://127.0.0.1:3306/wanwu_code_bi
#    username: root
#    password: root
#  # Redis 配置
#  # todo 需替换配置，然后取消注释
#  redis:
#    database: 0
#    host: 127.0.0.1
#    port: 6379
#    timeout: 5000
#  # Elasticsearch 配置
#  # todo 需替换配置，然后取消注释
##  elasticsearch:
##    uris: http://localhost:9200
##    username: root
##    password: 123456
#  # 文件上传
#  servlet:
#    multipart:
#      # 大小限制
#      max-file-size: 10MB
#  rabbitmq:
#    host: 127.0.0.1
#    port: 5672
#    username: admin
#    password: admin
#server:
#  address: 0.0.0.0
#  port: 8807
#  servlet:
#    context-path: /api
#    # cookie 30 天过期
#    session:
#      cookie:
#        max-age: 2592000
#mybatis-plus:
#  configuration:
#    map-underscore-to-camel-case: false
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#  global-config:
#    db-config:
#      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
#      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
#      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）
##登录相关
############### Sa-Token 配置 (文档: https://sa-token.cc) ##############
#sa-token:
#  # token 名称（同时也是 cookie 名称）
#  token-name: wanwu-sa-token
#  # token 有效期（单位：秒） 默认30天，-1 代表永久有效
#  timeout: 2592000
#  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
#  active-timeout: -1
#  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
#  is-concurrent: true
#  # 在多人登录同一账号时，是否共用一个 token （为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
#  is-share: true
#  # token 风格（默认可取值：uuid、simple-uuid、random-32、random-64、random-128、tik）
#  token-style: tik
#  # 是否输出操作日志
#  is-log: true
## 微信相关
#wx:
#  # 微信公众平台
#  # todo 需替换配置
#  mp:
#    token: xxx
#    aesKey: xxx
#    appId: xxx
#    secret: xxx
#    config-storage:
#      http-client-type: HttpClient
#      key-prefix: wx
#      redis:
#        host: 127.0.0.1
#        port: 6379
#      type: Memory
##鱼聪明AI配置
#  # 微信开放平台
#  # todo 需替换配置
#  open:
#    appId: xxx
#    appSecret: xxx
## 对象存储
## todo 需替换配置
#cos:
#  client:
#    accessKey: xxx
#    secretKey: xxx
#    region: xxx
#    bucket: xxx
#yuapi:
#  client:
#    access-key: xxx
#    secret-key: xxx